<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Tela Inicial</title>
</head>
<body>
    <header>
        <nav class="navbar shadow border-0" style="background-color: #43b764">
            <div class="container">
                <p>MyNodePad</p>
            </div>
          </nav>
    </header>
    <section class="container mt-5 ">
        <div class="row justify-content-center ">
            <div class="col-md-8">
                <div class="card p-5 shadow border-0"  id="card">
                    <form action="#" class="row ">
                        <div class="col-md-12">
                            <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite o nome da sua lista" required>
                             <div class="col-12 d-flex justify-content-center mt-4">
                                 <button id='btn-enviar' type="submit" class="btn btn-outline-success">Enviar
                                 </button>
                             </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>